/* 텍스트 스타일 수정란*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #fff;
  background-color: #333;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 20px;
  background-color: #333;
  border-bottom: 3px solid greenyellow;
  /* background-color: transparent; */
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}
/* 헤더 이미지 스타일 설정 */
header img {
  height: 50px;
}
.logo {
  position: relative;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.logo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  /* 애니메이션 0.4초 후에 시작 */
  animation: showRight 1s ease forwards;
  animation-delay: 0.4s;
}

/* 네비게이션 바 설정 */
.nav a {
  /* border: 1px solid #fff; */
  display: inline;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 1000;
  margin-left: 35px;
  transition: 0.5s;
  margin: 15px;
}
.nav a:hover,
.nav a.active {
  color: greenyellow;
}

/* container 문단 설정 */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.top,
.center,
.bottom {
  /* flex: 1; */
  text-align: center;
}

.top {
  height: 470px;
  background-color: #333;
  color: #fff;
}

.center {
  height: 600px;
  background-color: gray;
  color: #fff;
}
.center h1 {
  margin: 50px auto;
  color: greenyellow;
}
.center h2 {
  margin: 30px auto;
  font-weight: 600;
}
.center p {
  text-align: center;
  margin: 10px 20%;
}

/* 문단추가 예비용
.bottom {
  height: 1000px;
  background-color: #333;
  color: #fff;
} */

/* 문단 내용 banner 설정 */
/* INPUT 가리기 */
.section [id*="slide"] {
  display: none;
}

/* 슬라이드 영역 - max-width 크기를 조절해주면 됩니다*/
.section .slidewrap {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  margin-top: 70px;
}
.section .slidelist {
  white-space: nowrap;
  font-size: 0;
}
.section .slidelist > li {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 400px;
  transition: all 0.5s;
}
.section .slidelist > li > a {
  display: block;
  position: relative;
}

/* 좌우로 넘기는 LABEL버튼에 대한 스타일 */
.section .slide-control {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}
.section .slide-control label {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  cursor: pointer;
}
.section .slide-control .left {
  left: 30px;
  background: url("image/left.png") center center / 100% no-repeat;
}
.section .slide-control .right {
  right: 30px;
  background: url("image/right.png") center center / 100% no-repeat;
}
.section .slide-control [class*="control"] {
  display: none;
}

/* INPUT이 체크되면 변화값이 li까지 전달되는 스타일 */
.section [id="slide01"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(0%);
}
.section [id="slide02"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-100%);
}
.section [id="slide03"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-200%);
}

/*  INPUT이 체크되면 변화값이 좌우 슬라이드 버튼을 담고 있는 div 까지 전달되는 스타일 */
.section [id="slide01"]:checked ~ .slidewrap .control01 {
  display: block;
}
.section [id="slide02"]:checked ~ .slidewrap .control02 {
  display: block;
}
.section [id="slide03"]:checked ~ .slidewrap .control03 {
  display: block;
}

/* aside 설정 */
aside {
  position: fixed;
  right: 20px;
  top: 50px;
  border: 2px solid greenyellow;
  border-radius: 10px;
  padding: 10px;
  margin-top: 50px;
  margin-right: 20px;
  background-color: #333;
  z-index: 20;
}
aside h2 {
  border-bottom: 2px solid yellowgreen;
  padding: 10px 20px;
  margin-bottom: 10px;
}

aside a {
  display: flex;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: 0.5s;
  margin: 10px 15px;
}
aside a:hover {
  color: greenyellow;
}

/* footer 설정 */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #333;
  color: #fff;
  text-align: center;
  clear: both;
}

/* 로그인 창 복붙 */
.wrapper {
  float: left;
  min-width: 350px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(15px);
  /* box-shadow: 0 0 10px, rgba(0, 0, 0, 0.2); */
  color: #fff;
  border-radius: 10px;
  padding: 40px 30px;
  margin: 15% 5% 25% 5%;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 10px;
}

.wrapper .input-box {
  width: 100%;
  height: 20px;
  padding-bottom: 30px;
  margin: 30px 0;
}
/* 입력 box UI 개선 */
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}
/* 입력창 글자 가시성 조정 */
.input-box input::placeholder {
  color: #fff;
}
/* 인풋박스 할당 */
.input-box {
  position: relative;
}
/* 아이콘 위치변경 */
.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  /* transform: translateY(-50%);
  font-size: 20px; */
}
/* 비밀번호 찾기 메뉴 위치 및 가시성 변경 */
.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: 15px;
}
.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}
.remember-forgot a {
  color: #fff;
  text-decoration: none;
}
.remember-forgot a:hover {
  text-decoration: underline;
  color: greenyellow;
}
/* 확인 LOGIN 창 꾸미기 */
.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  margin-bottom: 15px;
}
.wrapper .btn:hover,
.wrapper .btn.active {
  background-color: greenyellow;
}

/*  */
.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.register-link p a:hover {
  text-decoration: underline;
  color: greenyellow;
}

/* 백그라운드 슬라이드 */
@keyframes slideBackground {
  0% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes showRight {
  /* 최종 가로길이를 0으로 만드는 애니메이션 */
  100% {
    width: 0;
  }
}

.background-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  display: none;
}

.background-slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  animation: slideBackground 10s linear infinite;
}

.background-slider img:nth-child(1) {
  animation-delay: 0s;
}

.background-slider img:nth-child(2) {
  animation-delay: 5s;
}

/* 500p 이하 적용 */
@media screen and (max-width: 500px) {
  aside {
    display: none;
  }
  .wrapper {
    display: flex;
    float: none;
    justify-content: center;
    margin: 45% 5%;
  }
  nav {
    display: flex;
    justify-content: space-between;
  }
  nav a:nth-child(1),
  nav a:nth-child(2) {
    display: none;
  }
  .background-slider {
    display: block;
  }
}
